* {
  box-sizing: border-box;
}
:root {
  --text-color: #000000;
  --background-color: white;
  --accent-color: #2b2b2b;
}
html {
  font-size: 62.5%;
  word-break: keep-all;
  text-align: center;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
.inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 135px;
}

#nav {
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 1;
}
#popup__nav {
  display: none;
  position: absolute;
  z-index: 2;
  width: 30%;
  height: 100vh;
  background-color: var(--background-color);
}
.popup__nav-container {
  margin-top: 56px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}
.popup__nav-cancel {
  display: flex;
  justify-content: flex-end;
}
.popup__nav-cancel img {
  width: 30px;
  height: 30px;
  margin-bottom: 11px;
}
.popup__nav-logo {
  width: 157px;
  height: 35px;
  background-color: rgb(77, 8, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 66px;
}
.popup__nav-list {
  font-family: "Pretendard-Light";
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: left;
}

.popup__nav-list li {
  margin-bottom: 28px;
}
.popup__nav-list a {
  text-decoration: none;
  color: #141414;
}
.nav__container {
  display: flex;
  align-items: center;
}
.nav__toggle {
  width: 30px;
  height: 30px;
}
.nav__logo {
  width: 157px;
  height: 35px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#main {
  width: 100%;
  height: 100vh;
  background-image: url(/images/main_bg.png);
  background-position: right;
  background-size: cover;
}

.about__img img {
  width: 100%;
  height: 872px;
  background-position: center;
  background-size: cover;
}

.about__text {
  font-family: "Pretendard-Regular";
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: right;
  margin-top: 55px;
}
#product {
  position: relative;
  padding-top: 110px;
  height: 100%;
  padding-bottom: 341px;
}
.product__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__container a {
  text-decoration: none;
  color: #585858;
}
.product__img img {
  width: 398px;
  height: 525px;
}
.product__text {
  margin-top: 15px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: "Pretendard-Light";
}
.contact__container {
  display: flex;
  padding: 276px 140px;
}
.contact__text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.contact__text {
  text-align: left;
  margin-bottom: 44px;
  font-family: "Pretendard-Light";
}
.contact__title img {
  width: 205px;
  height: 70px;
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
}
.fa-phone-alt,
.fa-envelope {
  margin-right: 16px;
}
.contact__myEmail {
  margin-top: 22px;
  font-family: "Pretendard-Regular";
}
.contact__myTel {
  font-family: "Pretendard-Regular";
}
/* email */
.honeypot-field {
  display: none;
}
.gform {
  flex-grow: 2;
  height: 100%;
}
.contact__contents {
  font-family: "Pretendard-Light";
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: left;
}
.contact__personalform {
  display: flex;
  justify-content: center;
}
.contact__personalform .contact__form {
  width: 50%;
}
.contact__personalform .contact__form:first-child {
  margin-right: 20px;
}
.contact__form input {
  width: 100%;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  margin-bottom: 12px;
}
.contact__contents textarea {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  width: 100%;
  height: 165px;
}
.contact__btn {
  width: 193px;
  height: 46px;
  border-radius: 10px;
  color: var(--background-color);
  font-size: 1.6rem;
  line-height: 1.19rem;
  background-color: #2b2b2b;
  margin-top: 34px;
}
#footer {
  width: 100%;
  height: 288px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__info {
  font-family: "Pretendard-Light";
  font-size: 1.4rem;
  line-height: 2rem;
}
